<ol>
	<li>Problemes avec les scores et transactions</li>
	<li>Dessiner des carres et non des rectangles</li>
	<li>Rester centre lors des modifications des dimensions de la fenetre</li>
	<li>
		Pour une meilleur representation
		<ol>
			<li>kingdom => couleur</li>
			<li>valeur => taille</li>
		</ol>
	</li>
</ol>